/* Page Box Model */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Page Body Color */
body {
    background-color: #d9dcd6;
}

/* Header Page Styling */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header Font Style 1 */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header Font Style 2 */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header Box Model */
.header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header URL List-Style: NONE */
.header  ul {
    list-style-type: none;
}

/* Header UR List-box format and pixel size */
.header ul li {
    display: inline-block;
    margin-left: 25px;
}
 
/* Reference links Color  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph Font Size*/
p {
    font-size: 16px;
}

/* Page Box Size and Background Information */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float Left Boxes */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Float Right Boxes */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Webpage Content Box Style */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits Style and Font layout/Background */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* All Benefits text-box Size and color */
.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/* All benefits Size and Alignment */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* All Benefits Images Display and Demensions */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Box Styling, Color and font for Content */
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Display Image Height */
.content div img {
    max-height: 200px;
}

.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer Font-family text and positioning */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer Font size */
.footer h2 {
    font-size: 20px;
}
